name: 1. Pull Requests

on: pull_request

env:
  DOTNET_NOLOGO: true

jobs:
  build_nuget:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build version suffix
        run: echo "VERSION_SUFFIX=alpha.${{ github.run_number }}" >> $GITHUB_ENV

      - name: Setup .NET
        uses: actions/setup-dotnet@v4

      - run: dotnet restore --verbosity minimal

      - run: dotnet build --configuration Release /p:ContinuousIntegrationBuild=true --no-restore 

      - run: dotnet test --configuration Release --no-build

      - run: dotnet pack --configuration Release --no-build --output ./artifacts --version-suffix $VERSION_SUFFIX

      - name: Publish artifacts
        uses: actions/upload-artifact@v4
        with:
          path: ./artifacts/*

  codecoverage_report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4

      - run: dotnet restore --verbosity minimal

      - run: dotnet build --configuration Debug

      - run: dotnet test --configuration Debug --verbosity minimal --no-build --collect:"XPlat Code Coverage" --results-directory "./.codecoverage"

      - name: Code coverage
        uses: codecov/codecov-action@v4
        with:
          token: "${{ secrets.CODECOV_TOKEN }}"
          directory: "./.codecoverage"
          fail_ci_if_error: true